
:root {
  --main-color: #10529c; /* blue */
  --secondary-color: #1f1f68; /* purple */
  --highlight-color: #d60d12; /* red */
  --details-color:#9e9e9e; /* grey */
  --bkhighlight-color:#feed00; /* yellow */
  --bkgrey-color:#fafafa; /* grey */

  --box-shadow: 2px 2px 5px #ccc;

    --margin: 16px;
  --padding: 6px 16px;
  --font-size: 16px;

  --border-radius:8px;
}



.aDivtypeMatrix3D{
    width: 100%;
    border-collapse: collapse;
    margin: var(--margin) 0;
    background: white;
    border: 0px;
    background: var(--bkgrey-color);
    border-radius: var(--border-radius);
    overflow: hidden !important;
    box-shadow: var(--box-shadow);
    font-size: 0.9em;
    container-type: inline-size;
}


.aDivtypeMatrix3D .scrollableTableFixedThead{
    display:none;
}

.aDivtypeMatrix3D .tblAnswer thead tr{
    background: none;
}

.aDivtypeMatrix3D .tblAnswer thead th, 
.aDivtypeMatrix3D .tblAnswer .HRG3D{
  border:0px;
}


.aDivtypeMatrix3D .Column1,
.aDivtypeMatrix3D .Column2,
.aDivtypeMatrix3D .Column3,
.aDivtypeMatrix3D .Column4{
  width:1%;
}

.aDivtypeMatrix3D .Column3,
.aDivtypeMatrix3D .Column4{
    display:none;
}

.aDivtypeMatrix3D input[type="text"],
.aDivtypeMatrix3D input[type="tel"]{
  min-width:170px;
}

.aDivtypeMatrix3D .scrollableTableFixedThead > tr > th{
  white-space:nowrap;
}

/* Mark a container */
.SKULabel {
  container-type: inline-size; /* or size */
}

.SKULabel{
  display:grid;
  grid-template-columns: auto 150px 200px;
  column-gap:1em;
  row-gap:0.5em;
  grid-template-areas:
    "title barcode result"
    "supplier supplier supplier"
    "table . .";
}

.SKULabel h1{
  margin:0;
  grid-area: title;
} 

.SKULabel p{
  width:100%;
  margin:0;
  grid-area: supplier;
} 

.SKULabel div.colored{
  background:var(--bkhighlight-color);
  border-radius:var(--border-radius);
  padding:var(--padding);
  grid-area: barcode;
  text-align: center;
  font-weight: normal;
  height: 1em;
} 

.SKULabel table{
  color:var(--details-color);
  font-weight:normal;
  text-align:left;
  grid-area: table;
}

.SKULabel table th{
   font-weight:normal;
}

.SKULabel .resultContainer{
  /* width:10%; */
  display:flex;
  flex-wrap:wrap;
  grid-area: result;
}

.SKULabel .resultContainer .result{
  text-align:center;
  flex-grow:1;
  font-weight:bold;
  width:100%;
  display:none;
}

.SKULabel .resultContainer .target{
  padding:0em 0.5em;
  line-height:30px;
  display:none;
}

.SKULabel .resultContainer meter{
  /* flex-grow:1; */
  height:30px;
  width: 100%;
}

/* Inside it, a child element */
h1 {
  font-size: var(--font-size);
}

/* Style the .card based on container's width */
@container (max-width: 800px) {
  .SKULabel{
    grid-template-columns: auto auto auto;
    grid-template-areas:
      "title title title"
      "barcode . ."
      "result . ."
      "table . .";
  }

  .SKULabel table{
    display:none;
  }
  .SKULabel p{
    display:none;
  }
}