
:root {
    --main-color: #10529c;
    /* blue */
    --secondary-color: #1f1f68;
    /* purple */
    --highlight-color: #d60d12;
    /* red */
    --details-color: #9e9e9e;
    /* grey */
    --bkhighlight-color: #feed00;
    /* yellow */
    --bkgrey-color: #fafafa;
    /* grey */
    --box-shadow: 2px 2px 5px #ccc;
    --margin: 16px;
    --padding: 0em 0em;
    --font-size: 16px;
    --border-radius: 8px;
}


.HBUTTONS{
    display:none;
}


.aDivQId_category .ui-button{
  background-repeat:no-repeat !important;
  background-size:30px !important;
  background-position:0.2em 50% !important;
  padding:0em !important;
  padding-left:2.5em !important;
}

.aDivQId_category tr.mobileFriendControl[class*="_A1"] .ui-button{
  background-image:url(https://app.form.com/fs/v1/h/Vo9DzuNHewPLFYpOuR0tluY278ZRpLu4CUAB6gs493o/276949.png);
}

.aDivQId_category tr.mobileFriendControl[class*="_A2"] .ui-button{
  background-image:url(https://app.form.com/fs/v1/h/xX1BBKjnHmZwTxk-cBpUELE0SDnE-lqEOGEySMrEDmc/276950.png);
}

.aDivQId_category .radio_mob{
  background:none !important;
  padding:0.25em !important;
}
              

span.ui-button-text.checkbox_mob {
    display:none;
}


.aDivtypeMatrix3D {
    width: 100%;
    border-collapse: collapse;
    margin: var(--margin) 0;
    background: white;
    border: 0px;
    background: var(--bkgrey-color);
    border-radius: var(--border-radius);
    overflow: hidden !important;
    box-shadow: var(--box-shadow);
    font-size: 0.9em;
    container-type: inline-size;
}

.aDivtypeRankGrid .scrollableTableFixedThead {
    display: none;
}

.aDivtypeRankGrid .tblAnswer thead tr {
    background: none;
}

.aDivtypeRankGrid .tblAnswer thead th, .aDivtypeRankGrid .tblAnswer .HRG3D {
    /* border: 0px; */
}

.aDivtypeRankGrid .Column1, .aDivtypeRankGrid .Column2, .aDivtypeRankGrid .Column3, .aDivtypeRankGrid .Column4 {
    width: 1% !important;
    min-width:100px;
    border-top: 1px solid #bebfc1;
    padding: 0;
    display: flex;
    align-items: stretch;
}

.aDivtypeMatrix3D .Column3, .aDivtypeMatrix3D .Column4 {
    /* display:none; */
}

.aDivtypeMatrix3D input[type="text"], .aDivtypeMatrix3D input[type="tel"] {
    min-width: 170px;
}

.aDivtypeMatrix3D .scrollableTableFixedThead > tr > th {
    white-space: nowrap;
}

/* Mark a container */
.SKULabel,
.aDivtypeRankGrid .mobileFriendControl,
.aDivtypeRankGrid .tblAnswer > tbody{
    container-type: inline-size;
    /* or size */
    /* display: flex; */
    /* flex-wrap: nowrap; */
}

.aDivtypeRankGrid .tblAnswer > tbody > .mobileFriendControl{
    display:flex;
    border-bottom: 1px solid #ccc;
    flex-wrap: wrap;
}

.header{
    display:flex;
    /* min-width: 300px; */
    /* width: calc(100% - 300px); */
}

.titleGroupHTML{
    flex-grow:1;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    gap: 0.1em;
}

.SKULabel {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    justify-content: space-between;
    gap: 1em;
    background: white;
    width: 100%;
}

.titleGroupHTML h1 {
    margin: 0;
    color: black;
    font-weight: normal;
    font-size: 1em;
}

.titleGroupHTML h2 {
    margin: 0;
    color: black;
    font-weight: normal;
    font-size:0.8em;
}

.SKULabel p {
    color: var(--main-color);
}

.SKULabel div.colored {
    border-radius: var(--border-radius);
    background: var(--main-color);
    padding: var(--padding);
    color: white;
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: center;
    font-weight: normal;
    width: 150px;
    flex-shrink: 0;
    margin: 0 0.5em;
}

.SKULabel p.description {
    white-space: nowrap;
    width: 70px;
    margin: 0;
    flex-shrink: 0;
    text-align: center;
}

.SKULabel table {
    color: var(--details-color);
    font-weight: normal;
    text-align: left;
    grid-area: table;
}

.SKULabel table th {
    font-weight: normal;
}

.SKULabel .resultContainer {
    /* width: 150px; */
    display: flex;
    flex-wrap: wrap;
    grid-area: result;
    gap: 0 0.5em;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 0;
    margin: 0 0.5em;
    text-align: end;
    justify-content: end;
}

.SKULabel .resultContainer .target {
    padding: 0em 0.5em;
    line-height: 30px;
    display: none;
}

.SKULabel .resultContainer meter {
    flex-grow: 1;
    height: 30px;
    /* width: 100%; */
    align-items: center;
}

/* Inside it, a child element */
h1 {
    font-size: var(--font-size);
}

/* Out of Stocks MOL */
.aDivQId_ingest_1 .lq_overflowDiv, .aDivQId_ingest_1 .subTypeMultipleLookup {
    overflow: initial !important;
}

.aDivQId_ingest_1 .subTypeMultipleLookupResize .lq_overflowDiv {
    height: initial;
}

.aDivQId_ingest_1 .lookupField {
    display: none;
}

.aDivQId_ingest_1 .multipleLookupFieldFilterResult {
    border: 0px;
}

/* Out of Stocks MOL - END */
/* Carrefour Specifics */
.aDivQId_fc_restocked .fsQuestion, .aDivQId_pc_replaced .fsQuestion, .aDivQId_oos_restocked .fsQuestion {
    padding: 0;
}

.aDivQId_fc_restocked .H3, .aDivQId_pc_replaced .H3, .aDivQId_oos_restocked .H3 {
    padding-top: 0 ;
    padding-bottom: 0;
    padding: 0;
}

.tablebckg .aDivQId_fc_restocked .H3 .ui-state-default, .tablebckg .aDivQId_pc_replaced .H3 .ui-state-default, .tablebckg .aDivQId_oos_restocked .H3 .ui-state-default {
    background: none;
    border: 0px;
    border-bottom: 1px solid var(--details-color);
    border-radius: 0;
    container-type: inline-size;
    display: block !important;
}

.tablebckg .aDivQId_fc_restocked .H3 .ui-state-active, .tablebckg .aDivQId_pc_replaced .H3 .ui-state-active, .tablebckg .aDivQId_oos_restocked .H3 .ui-state-active {
    background: lime;
    transition: all 1s;
}

.aDivQId_category .ui-state-active {
    background-color: var(--main-color) !important;
    color: white !important;
    transition: all 1s;
}

h3 {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 0 0 0.5em 0;
    width: 100%;
}


.packshot{
    height:50px;
    width:50px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:50%;
    margin: 0.25em;
    flex-shrink: 0;
    background-image: url(https://placehold.co/150x150?text=No+Image&font=roboto)
}

h4{margin:0;font-weight:normal;font-size: 0.8em;}
.expectationDiv {
    flex-shrink: 0;
    /* width:50px; */
    display:flex;
    justify-content:stretch;
    /* display: flex; */
    gap: 10px;
    font-size:0.8em;
    /* flex-wrap:wrap; */
}

.expectationDiv .actual, 
.expectationDiv .expected,
.resultContainer .expected{

  border-radius: 6px;
  color: white;
  flex-grow:1;
  text-align:center;
  font-size: initial;
}

.actual {
  background-color: #d9534f; /* red-ish for unexpected price */
}

.resultContainer > .expected{
    background-color: var(--bkhighlight-color); /* green for expected */
    color:black;
}

.expectationDiv .expected {
  background-color: #5cb85c; /* green for expected */
}

.H4{
    height: unset;
    flex-grow: 1;
}

.noWrap .content{
    flex-wrap: nowrap !important;
}

.tdBlankLeftColumn{display:none;}
.Column1,
.Column2,
.Column3{
        max-width:50px;
        width:10%;
        display: flex;
    }

    .SKULabel .barcode{width: fit-content;}

@media only screen and (max-width: 700px){

     .IRDataTable td,
     .IRDataTable th{
        font-size:8px  !important;
        padding: 0.5em  !important;
    }

    .aDivtypeRankGrid .tblAnswer{
        background:#10529c29;
    }
    
    td.H2{
        /*background:var(--main-color) !important;
        color:white !important;*/
    }
    
    td.H2 h3{
        color:white !important;
    }

  .noWrap .content{
    flex-wrap: wrap !important;
    }

    #map{
        width:80% !important;
    }
    
}

/* Style the .card based on container's width */
@container (max-width: 1200px) {

     .IRDataTable td,
     .IRDataTable th{
        font-size:8px  !important;
        padding: 0.5em  !important;
    }
    
    .SKULabel {
        padding:0.5em;
        gap: 1em;
        /* flex-wrap: nowrap; */
        justify-content: space-between;
    }
    .SKULabel .resultContainer,
    .SKULabel .header{
        flex-grow:1;
    }

    .aDivtypeRankGrid .tblAnswer > tbody tr{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        width: calc(100% - 1em);
        margin: 1em 0.5em;
        box-shadow: 2px 2px 5px #ccc;
        border-radius: 0.5em;
        overflow: hidden;
    }

    .aDivtypeRankGrid .tblAnswer > tbody tr .H4{
        width:100%;
        height: initial !important;
        padding: 0;
        border: 0px;
        min-width: 350px;
        flex-grow: 1;
    }
    
    .Column1,
    .Column2,
    .Column3{
        background:linear-gradient(to bottom,white,var(--bkgrey-color));
        flex-grow:1;
        border-top:0px !important;
        max-width:initial;
       
    }
    
    .Column1 .ui-button,
    .Column2 .ui-button,
    .Column3 .ui-button{
         border-radius:0 !important;
        margin:0 !important;
    }

    .packshot{
     width:50px;
        margin:0 0.25em
    }

     .packshot{
     
    }

    .SKULabel h1 {

    }

    .SKULabel .colored {
        text-align: center !important;
        padding: 0 !important;

    }

    .SKULabel .expectationDiv,
    .SKULabel .expected,
    .SKULabel .actual{flex-grow: 0;padding: 0.25em 0.5em;}


    
    .SKULabel p {
        white-space: nowrap;
        margin: 0;
    }
}






.typeRankGrid  .ui-button,
.typeMatrix3D .ui-button{
    min-height: 35px !important;
    /* margin:2px !important; */
    border:0px !important;
    background-size:25px !important;
    background-repeat: no-repeat;
    background-position:50%;
    border-radius: 0;
    background-color:#eee;
    height: 100%;
    margin: 0;
}
 
.typeRankGrid .ui-state-active,
.typeMatrix3D .ui-state-active
{
    
}
 
.typeRankGrid  .ui-button-text,
.typeMatrix3D .ui-button-text
{
    display:none !important;
}


//Hide the radio button
.rbr .aDivtypeRankGrid .c_i,
.rbr .typeMatrix3D .c_i{
    display:none !important;
}



.typeRankGrid .Column1 .ui-button{
    background-image: url("https://app.form.com/fs/v1/h/Js6Sr5vsXS6wCMNTnc6RUb9Wp66Uc9uNvd1DwZ1PZQ4/277054.png") !important;
}

.typeRankGrid .Column1 .ui-state-active{
  background-color:green !important;
background-image: url("https://app.form.com/fs/v1/h/L6VU56iKClMaWbOpRmLGdgAThFhjL1osFP_gZfTvWew/277053.png") !important;

    
}


.typeRankGrid .Column2 .ui-button{
    background-image: url("https://app.form.com/fs/v1/h/9zQuy4WkjZR4F_IN6J0p8ZsDUXvHC8ZvayxDizgSils/277050.png") !important;
}

.typeRankGrid .Column2 .ui-state-active{
    background-image: url("https://app.form.com/fs/v1/h/gIMxzsywDjnUCd0c1yDC5UXhe99L_u6kuzO_gwp2xLg/277024.png") !important;
    background-color:darkred !important;
}


.typeRankGrid .Column3 .ui-button{
    background-image: url("https://app.form.com/fs/v1/h/m91N89S3mtf2X-fLLUT2jfcIGifJa8_Uy9YgvuwoTVE/277025.png") !important;
}

.typeRankGrid .Column3 .ui-state-active{
    background-image: url("https://app.form.com/fs/v1/h/zJMdDIFlz1f4BJmnERMF3ORQFf3reQiC1MG0hCHNdX8/277060.png") !important;
    background-color:#717070 !important;
}


.canvasContainer {
    min-height:350px; 
    width:100%;
}





.canvasContainer {
    width: 100%;
    /* height: 300px; */
    display: flex;
    justify-content: space-evenly;
    margin: 1em 0;
    overflow: scroll;
}

.buttons {
    display: flex;
    justify-content:space-between;
    overflow:scroll;
    font-size: 0.8em;
    font-weight: normal;
    gap: 0.5em;
}

.buttons div{
    background:#0f52a3;
    color:white;
    padding:0.25em 1em;
    border-radius:1em;
}

div#table-container,
.sectionContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: stretch;
}

div.container {
    box-shadow: 5px 5px 15px #ddd;
    padding: 1em;
    flex-grow: 1;
    min-height: 70px;
    display: flex;
    flex-wrap: wrap;
    background: white;
    min-width: 300px;
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 40px);
    gap: 0.25em;
}

.noWrap .content{
    flex-wrap: nowrap;
}

.gap .content{
    gap:0.5em;
}
              


.pog .pog {
    display: flex;
    flex-direction: column-reverse;
    /* border: 1px solid red; */
    font-size: 1px;
}

.shelf {
    display: flex;
    min-height: 10px;
    border-bottom: 5px solid #ccc;
    justify-content: space-between;
    /* flex-grow: 1; */
    align-items: baseline;
}


.sku.unknown {
    border: 2px solid orange !important;
}

.sku.sku {
    border: 2px solid blue;
}

.sku.empty {
    border: 2px solid grey;
}

div.container.pog {
    /* flex-grow: 0 !important; */
}




.container.skuList {
    max-height: 350px;
    overflow-y: scroll;
}

table.customTable.IRDataTable td,
table.customTable.IRDataTable th{
    text-align:center !important;
    border:0px !important;
    border-bottom:1px solid #ccc !important;
}


table.customTable.IRDataTable th{
    font-weight:bold ;
}


.H1{
    display:none;
}


.number{
    border-radius:0.25em;
    padding:0.5em !important;
    justify-content: center !important;
    align-items: center;
}

.number h3{
    font-size: 1em !important;
    font-weight:normal;
    text-align: center !important;
    width: 100% !important;
    flex-grow: 1 !important;
    margin:0;
}

.number .content h4{
    font-size:2em;
    flex-grow: 1;
    /* background: green; */
    text-align: center;
    /* color: initial; */
}




.notification.error {
    background: #ff000020;
  color:#ed1c24;
    padding: 0.5em;
    margin: 1em 0;
    border-radius: 0.25em;
    font-weight: normal;
  text-align:center;
}

.notification.message {
    background-color: #135bac20;
    color:#135bac;
    padding: 0.5em;
    margin: 1em 0;
    border-radius: 0.25em;
    font-weight: normal;
    text-align:center;
}

.notification.loading {
    background:url(https://app.form.com/fs/v1/h/HsFIjl7WzqrR8GsV_vAWpmYrjfYo1XzqgGu7GfOJj6c/275078.gif) !important;
    background-size:60px !important;
    background-repeat:no-repeat !important;
    background-position:50% 100% !important;
    color:#666;
    padding: 1rem 0 60px 0.5em;
    margin: 1em 0;
    border-radius: 0.25em;
    font-weight: normal;
    text-align:center;
    margin:auto;
}

.tblAllQuestions{
    padding:0;
}

.check.check_true {
    background-image: url("https://app.form.com/fs/v1/h/1bfwXHoEd90XVh2qaOgP83a-19gdGBMLCCrPVPlGHgE/275043.png");
    background-size: contain;
    background-repeat:no-repeat;
    background-position:50%;
    width: 30px;
    height: 30px;
}


div.container.noGrow {
    flex-grow: 0;
}

.content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}




/* Style the .card based on container's width */
@container (max-width: 700px) {


.resultContainer h4{
    display:none;
}

}


.sectionHeader {
    width: 100% !important;
    display: flex;
}


.photo .content {
    flex-wrap: nowrap;
}